<mat-toolbar color="primary">
    <mat-toolbar-row #sidenav>
      <span class="menu-spacer"></span>
      <div class="separation">
        <a class="routerLink" mat-button [routerLink]="'/main/chargePoint'"> Charge Point</a>
      </div>
      <div class="separation">
        <a class="routerLink" mat-button [routerLink]="'/main/organization'">Organization</a>
      </div>
      <span class="fill-space"></span>
      <!-- <div>
        <a mat-button (click)="logout()">Logout</a>
      </div> -->
    </mat-toolbar-row>
  </mat-toolbar>
  